<div class="page-container">
    <header>
        <div id="top">
            <!-- <a routerLink="/"> -->
            <a href="/" target="_self">
                <span class="app-title">GemHack 2021</span>
                <!-- <span class="app-title">Gem<span class="light-purple-text">Hack </span>2021</span> -->
            </a>
            <button mat-button class="menu-button" (click)="sidenav.toggle()">
                <mat-icon class="menu">{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
            </button>
        </div>
        <div class="spacer"></div>
        <div>
            <a mat-button class="social-media-button" target="_blank" href="https://twitter.com/gemhackco">
                <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
            </a>
            <a mat-button class="social-media-button" target="_blank" href="https://www.instagram.com/gemhackco/?hl=en">
                <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
            </a>
            <a mat-button class="social-media-button" target="_blank">
                <fa-icon [icon]="faLinkedinIn" size="2x"></fa-icon>
            </a>
        </div>
    </header>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav 
            #sidenav 
            autoFocus="false" 
            mode="over" 
            [(opened)]="isMenuOpen" 
            class="sidenav" 
            (click)="onSidenavClick()">
            <a mat-button href="/" target="_self">Home</a>
            <a mat-button href="#about" target="_self">About the Summit</a>
            <a mat-button href="#presenters" target="_self">Presenters & Topics</a>
            <!-- <a mat-button routerLink="/">Page 3</a> -->
            <!-- <a mat-button routerLink="/">Page 4</a> -->
            <!-- <a mat-button routerLink="/">Page 5</a> -->
            <router-outlet></router-outlet>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="main-image">
                <div class="image-overlay">
                    <div class="main-content">
                        <div class="centered-content fadeIn">
                            <span class="mat-display-4">GemHack</span><br><span class="mat-display-3">Summit</span>
                            <br>
                            <span class="mat-headline">June 2021</span>
                            <br>
                            <span class="mat-headline">{{ titleContent }}</span>
                            <br>
                            <button class="main-buttons" mat-raised-button color="primary">Button 1</button>
                            <button class="main-buttons" mat-raised-button color="primary">Button 2</button>
                        </div>
                    </div>
                </div>
            </div>
            <main>
                <div class="secondary-content" id="about">
                    <span class="mat-display-2">About GemHack Summit</span>
                    <div class="body-content">
                        <span class="mat-body">
                            {{ aboutContent }}
                        </span>
                        <!-- <br><br>
                        <span class="mat-body">
                            This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...
                        </span>
                        <br><br>
                        <span class="mat-body">
                            This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...This is what GemHack Summit is...
                        </span> -->
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div id="presenters" class="secondary-content">
                    <span class="mat-display-2">Presenters & Topics</span>
                    <div class="body-content">
                        <div class="responsive">
                            <div class="gallery">
                                <a target="_blank">
                                    <img src="/assets/imgs/city.jpg" alt="Cinque Terre" width="600" height="400">
                                </a>
                                <div class="desc">
                                    <b>Elon Musk</b>
                                    <br>
                                    cars, rockets, brains, tunnels, flamethrowers
                                </div>
                            </div>
                          </div>
                          <div class="responsive">
                            <div class="gallery">
                                <a target="_blank">
                                    <img src="/assets/imgs/city.jpg" alt="Cinque Terre" width="600" height="400">
                                </a>
                                <div class="desc">
                                    <b>Jeff Bezos</b>
                                    <br>
                                    bookstores $amzn
                                </div>
                            </div>
                          </div>
                          <div class="responsive">
                            <div class="gallery">
                                <a target="_blank">
                                    <img src="/assets/imgs/city.jpg" alt="Cinque Terre" width="600" height="400">
                                </a>
                                <div class="desc">
                                    <b>Kanye West</b>
                                    <br>
                                    "Yeezus"
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
                <!-- <button mat-raised-button class="scrollTopButton" (click)="gotoTop()">Primary</button> -->
                <!-- <footer>
                    <p>text footer</p>
                </footer> -->
            </main>
        </mat-sidenav-content>
      </mat-sidenav-container>
  </div>